#dropdownMenu1{
	width:138px;
	font-weight:bold;
	font-size: 17px;
}
#dropdownMenu1 img{
	margin-left: 5px;
}
.main-output{
	margin-top: 60px;
}
.contain-bottom-text{
    font-size: 1.9em;
}
.basic-title{
	border-bottom: 1px solid #A0A0A0;
	padding-right: 0;
}
.basic-title-right{
	float: right;
	width:75px;
	padding:0;
	margin-bottom: 1px;
}
.basic-title-left{
	font-size: 1.5em;
	float: left;
	margin-bottom:6px;
}
.basic-content{
	margin-top: 30px;
	margin-left: 60px;
}
.basic-content input,.basic-content textarea{
	border:none;
	background: transparent;
	box-shadow: none;
}
.textarea{
	padding-top:6px;
}
.main-admin-match-dropdown{
	height:100%;
	margin:auto 0;
}
.dropdown{
	height: 34px;
	margin: auto 0;
}
.dropdown-menu{
	width:125px;
}
.left-img{
	width:12px;
	height:17px;
}
.down-img{
	height:12px;
	width:17px;
	display: none;
}
.open .down-img{
	display: inline;
}
.open .left-img{
	display:none;
}